.body{
    background: #F4F3EF;
    font-family: 'Kanit', sans-serif;
    font-weight:500;
}
.card-header{
    background: #074995;
    color:#dfe0e2;
}

.btn-login{
    background-color: #074995;
    color:#fff;
}

.btn-login:hover{
    background-color: #074995;
    color:#fff;
}


.card-login{
    position: relative;
    font-family: 'Kanit', sans-serif;
}

.card-login::before{
    content: "";
    background: #4a73a1;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    left: 15px;
    top:13px;

}
.form-check-input:focus{
    box-shadow: none;
}

